.cards-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.cards-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}
.cards{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 20px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 8px;
    box-shadow: 3px 3px 4px 4px gray;
    cursor: pointer;
}
