.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    gap: 30px;
    align-items: center;
}
.search-logo-heading{
    display: flex;
    align-items: center;
    gap: 10px;
}
.search-box input{
    width: 450px;
    height: 40px;
    outline: none;
    border-radius: 12px;
    font-size: 18px;
    padding: 5px;
}
.feedbuttons{
    display: flex;
    gap: 50px;
    font-size: 20px;
    box-shadow: 2px 2px 2px gray;
    border: none;
    border-radius: 8px;
    padding: 0px 10px;
    padding: 4px 10px;
}
.feedbuttons p{
    border-bottom: 4px solid transparent;
    border-radius: 3px;
    cursor: pointer;
}
.feedbuttons p:hover{
    border-bottom: 4px solid rgb(99, 234, 99);
}
.feedbuttons p.active{
    border-bottom: 4px solid rgb(99, 234, 99);
}